<%-include('../partials/header.ejs') %>

<title>Community Recipe's</title>


<%-include('../partials/nav.ejs') %>


<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10 mt-5">
            <h1>Add Recipe</h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/recipelist/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add a Recipe </a>
                <br>
            <% } %>
            <br>
            <table class= "table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <% if(typeof displayName=='string' && displayName) { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-4">Recipe</th>
                        <th class="text-center col-2">Country of Origin</th>
                        <th class="text-center col-2">Time Take</th>
                        <th class="text-center col-2">Actions</th>
                    <% } else { %>
                            <th class="text-center col-2">Name</th>
                            <th class="text-center col-4">Recipe</th>
                            <th class="text-center col-2">Country of Origin</th>
                            <th class="text-center col-2">Time Take</th>
                    <% } %>

                </tr>
                <!-- Repeat the template -->
                <% for(let count=0; count < RecipeList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName=='string' && displayName) { %>
                            <td class="text-center col-2"><%= RecipeList[count].Name %></td>
                            <td class="text-center col-4"><%= RecipeList[count].Discription %></td>
                            <td class="text-center col-2"><%= RecipeList[count].Country %></td>
                            <td class="text-center col-2"><%= RecipeList[count].Time %></td>
                            <td class="text-center col-2 mt-2">
                                <a href="/recipelist/edit/<%= RecipeList[count]._id %>"
                                   class="btn btn-primary" id="edit">
                                    <i class="fas fa-pencil-alt"></i> Edit </a>

                                <a href="/recipelist/delete/<%= RecipeList[count]._id %>"
                                   class="btn btn-danger" id="del">
                                    <i class="fas fa-trash-alt"></i> Delete </a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-2"><%= RecipeList[count].Name %></td>
                            <td class="text-center col-4"><%= RecipeList[count].Discription %></td>
                            <td class="text-center col-2"><%= RecipeList[count].Country %></td>
                            <td class="text-center col-2"><%= RecipeList[count].Time %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%-include('../partials/footer.ejs') %>

<%-include('../partials/bottom.ejs') %>

